@model ResultViewModel;

@{
    ViewData["Title"] = "Convertion Result";
}

<h1>@ViewData["Title"]</h1>

<div class="col">
    <p>The result of your calculation</p>
    <div class="row">
        <p>@Model.ConverterViewModel.ToConvert in @Model.ConverterViewModel.FromUnit is @Model.ConvertedUnit in
            @Model.ConverterViewModel.ToUnit</p>
    </div>
</div>